$font-default: "Roboto", sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$green: #4b9200;
$orange: #f9804b;
$yellow: #ffee2e;
$orange_grad: #fed290;
$ping_grad: #febdab;
$red: #d31414;
$black: #333b41;
$gray: #767474;
$gray_smoky: #ababab;
$light_gray: #f1f3f2;
$glass_white: #fdfdff;
