@import "_normalize.scss";
@import "_fonts.scss";

$font: "Gilroy";
$color-bg: #ffbca2;
$color-text: #660033;
$color-bg-main: #000000;
$color-text-set: #ffffff;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  background: $color-bg-main;
}

body {
  font-family: $font;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.hide {
  display: none !important;
}

.welcome__artist:hover.welcome__artist::before {
  width: 100%;
}
.welcome__pictures:hover.welcome__pictures::before {
  width: 100%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.settings__language.active-settings {
  background-color: #660033;
}
.settings__language.active-settings::after {
  left: 23px;
}

.settings__time__check.active-settings::after {
  left: 23px;
}

.settings__time__check.active-settings {
  background-color: #660033;
}

@media (min-width: 150px) {
  .welcome {
    background-image: url(../assets/image/bg-welcome.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    animation-timing-function: linear;
    animation: 0.5s fade;
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &__settings {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      transition: all 0.7s;
      cursor: pointer;
      outline: none;
      &:hover {
        transform: rotate(180deg);
      }
    }
    &__settings__block {
      display: flex;
      margin-top: 1rem;
      justify-content: right;
      margin-right: 1.5rem;
    }
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20rem;
    }
    &__artist {
      min-width: 26rem;
      height: 5rem;
      background-color: transparent;
      border: 1px solid $color-text-set;
      border-radius: 2rem;
      margin-bottom: 2rem;
      outline: none;
      letter-spacing: -0.4px;
      color: $color-text-set;
      transition: all 1.5s;
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        border-radius: 2rem;
        height: 5rem;
        background: rgba($color-bg, 0.5);
        transition: all 1.5s ease;
      }
    }
    &__pictures {
      min-width: 26rem;
      height: 5rem;
      background-color: transparent;
      border: 1px solid $color-text-set;
      border-radius: 2rem;
      margin-bottom: 4rem;
      color: $color-text-set;
      transition: all 1.5s;
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        border-radius: 2rem;
        height: 5rem;
        background: rgba($color-bg, 0.5);
        transition: all 1.5s ease;
      }
    }
    &__logo {
      width: 16rem;
      height: 6rem;
      margin-bottom: 3rem;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      justify-content: center;
    }
    &__author {
      font-size: 1.4rem;
      text-decoration: none;
      line-height: 2rem;
      color: $color-text-set;
      margin: 0;
      transition: all 0.5s;
      &:hover {
        color: $color-bg;
      }
    }
  }
  .settings {
    background: $color-bg-main;
    min-height: 100vh;
    height: 100%;
    animation-timing-function: linear;
    animation: 0.5s fade;
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      font-size: 2.4rem;
      line-height: 2.8rem;
      letter-spacing: -0.5px;
      color: $color-text-set;
      margin: 0;
      margin-top: 2.8rem;
      margin-bottom: 5rem;
    }
    &__volume {
      font-size: 30px;
      line-height: 28px;
      margin: 0;
      letter-spacing: -1px;
      font-weight: 700;
      color: $color-text-set;
      text-align: center;
      margin-bottom: 3rem;
    }
    &__range {
      display: block;
      width: 30rem;
      height: 3px;
      outline: none;
      -webkit-appearance: none;
      transition: ease-in-out 0.5s;
      cursor: pointer;
      background: linear-gradient(to right, $color-bg 40%, #fff 0%, #fff 100%);
      margin-bottom: 2rem;
      transition: all 0.5s;
      &:hover {
        opacity: 0.8;
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.3);
      }
    }
    &__range::-webkit-slider-thumb {
      appearance: none;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: white;
    }
    &__volume__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__volume__off {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      cursor: pointer;
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(206deg)
        brightness(109%) contrast(101%);
      transition: all 0.5s;
      user-select: none;
      &:hover {
        &:hover {
          filter: invert(84%) sepia(57%) saturate(3993%) hue-rotate(308deg)
            brightness(127%) contrast(100%);
          opacity: 0.7;
        }
      }
    }
    &__volume__on {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      cursor: pointer;
      user-select: none;
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(206deg)
        brightness(109%) contrast(101%);
      transition: all 0.5s;
      &:hover {
        &:hover {
          filter: invert(84%) sepia(57%) saturate(3993%) hue-rotate(308deg)
            brightness(127%) contrast(100%);
          opacity: 0.7;
        }
      }
    }
    &__time__game {
      position: relative;
    }
    &__time {
      font-size: 30px;
      line-height: 28px;
      margin: 0;
      letter-spacing: -1px;
      font-weight: 700;
      color: $color-text-set;
      text-align: center;
      margin-bottom: 2rem;
    }
    &__time__check {
      display: block;
      width: 4.8rem;
      height: 2.4rem;
      border-radius: 17px;
      background: $color-bg;
      border: none;
      cursor: pointer;
      outline: none;
      position: relative;
      transition: all 0.5s;
      transition-duration: 300ms;
      margin: 0 auto;
      margin-bottom: 3rem;
      transition: all 0.5s;
      &::after {
        content: "";
        height: 2.2rem;
        width: 2.2rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.8);
        top: 1px;
        left: 3px;
        transition-duration: 350ms;
        position: absolute;
        z-index: 1;
      }
      &:hover {
        background-color: $color-text;
      }
    }
    &__time__text {
      display: inline;
      font-size: 1.8rem;
      line-height: 2rem;
      margin: 0;
      letter-spacing: -1px;
      font-weight: 400;
      color: $color-text-set;
      position: absolute;
      top: 5rem;
      left: 1.5rem;
    }

    &__time__answer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__answer__block {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
    }
    &__answer__text {
      font-size: 30px;
      line-height: 28px;
      margin: 0;
      letter-spacing: -1px;
      font-weight: 700;
      color: #ffffff;
      text-align: center;
      margin-bottom: 2rem;
    }
    &__answer__btn {
      appearance: none;
      border: none;
      background-color: $color-bg;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        background: $color-text;
      }
    }
    &__answer__btn__left::after {
      content: "";
      position: absolute;
      background-image: url(../assets/image/time-minus.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 1.7rem;
      height: 1.7rem;
      top: 0.7rem;
      left: 0.7rem;
      transition: all 0.5s;
    }
    &__answer__btn__right::after {
      content: "";
      position: absolute;
      background-image: url(../assets/image/time-plus.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 1.7rem;
      height: 1.7rem;
      top: 0.6rem;
      left: 0.6rem;
      transition: all 0.5s;
    }
    &__answer {
      font-size: 2.4rem;
      line-height: 2.8rem;
      letter-spacing: -0.5px;
      font-weight: 500;
      background-color: transparent;
      border: none;
      outline: none;
      color: $color-text-set;
      text-align: center;
      max-width: 5rem;
      width: 100%;
    }
    &__btn__block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
    &__default {
      font-size: 2.4rem;
      line-height: 2.8rem;
      letter-spacing: -0.5px;
      font-weight: 500;
      background: $color-bg-main;
      min-width: 15rem;
      height: 5.6rem;
      border-radius: 2rem;
      text-align: center;
      color: $color-text-set;
      border: 1px solid white;
      outline: none;
      user-select: none;
      margin-right: 0.5rem;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        background: $color-bg;
        color: $color-bg-main;
      }
    }
    &__save {
      font-size: 2.4rem;
      line-height: 2.8rem;
      letter-spacing: -0.5px;
      font-weight: 500;
      background: $color-bg;
      min-width: 15rem;
      height: 5.6rem;
      border-radius: 2rem;
      text-align: center;
      border: none;
      outline: none;
      user-select: none;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;
    }
    &__author {
      font-size: 1.4rem;
      text-decoration: none;
      line-height: 2rem;
      color: $color-text-set;
      margin: 0;
      margin-left: 1rem;
      transition: all 0.5s;
      &:hover {
        color: $color-bg;
      }
    }
    &__language__inner {
      margin-bottom: 2rem;
      position: relative;
    }
    &__language__title {
      font-size: 30px;
      line-height: 28px;
      margin: 0;
      letter-spacing: -1px;
      font-weight: 700;
      color: #ffffff;
      text-align: center;
      margin-bottom: 2rem;
    }
    &__language {
      display: block;
      width: 4.8rem;
      height: 2.4rem;
      border-radius: 17px;
      background: #ffbca2;
      border: none;
      cursor: pointer;
      outline: none;
      position: relative;
      transition: all 0.5s;
      transition-duration: 300ms;
      margin-left: 3rem;
      margin: 0 auto;
      transition: all 0.5s;
      &:hover {
        background-color: #660033;
      }
    }
    &__language::after {
      content: "";
      height: 2.2rem;
      width: 2.2rem;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.8);
      top: 1px;
      left: 3px;
      transition-duration: 350ms;
      position: absolute;
      z-index: 1;
    }
    &__language__text {
      display: inline;
      font-size: 1.8rem;
      line-height: 2rem;
      margin: 0;
      letter-spacing: -1px;
      font-weight: 400;
      color: #ffffff;
      position: absolute;
      top: 5rem;
      left: 1.5rem;
    }
    &__back {
      background-image: url(../assets/svg/prev.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      left: 3rem;
      top: 3.2rem;
      width: 1rem;
      height: 2rem;
      cursor: pointer;
      transition: all 0.5s;
      transform: rotate(180deg);
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(206deg)
        brightness(109%) contrast(101%);
      &:hover {
        filter: invert(84%) sepia(57%) saturate(3993%) hue-rotate(308deg)
          brightness(127%) contrast(100%);
        opacity: 0.7;
      }
    }
  }
  .category {
    background: $color-bg-main;
    min-height: 100vh;
    height: 100%;
    animation-timing-function: linear;
    animation: 0.5s fade;
    &__top {
      display: flex;
      padding-top: 2.2rem;
      justify-content: space-between;
      margin-left: 1rem;
    }
    &__logo {
      width: 16.6rem;
      height: 6.2rem;
      object-fit: cover;
    }
    &__settings__category {
      margin-right: 1rem;
      margin-top: 1rem;
    }
    &__title {
      color: $color-text-set;
      margin: 0;
      margin-top: 4rem;
      margin-left: 1rem;
    }
    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 4rem;
      padding-bottom: 8rem;
      margin-left: 1rem;
    }
    &__item {
      width: 100%;
    }
    &__item:nth-child(odd) {
      margin-right: 1rem;
    }
    &__item__text {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__item__title {
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: $color-text-set;
      margin: 0;
      margin-top: 2rem;
      margin-bottom: 0.8rem;
    }
    &__item__score {
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: #ffbca2;
      margin: 0;
      margin-top: 2rem;
      margin-bottom: 0.8rem;
    }
    &__img {
      max-width: 14.5rem;
      width: 100%;
      max-height: 15.4rem;
      height: 100%;
      border-radius: 1.5rem;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
        border: 1px solid $color-bg;
      }
    }
    &__menu {
      border-top: 1px solid $color-text-set;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      background: #010101;
      position: fixed;
      bottom: 0;
      z-index: 999;
      min-height: 7.5rem;
      width: 100%;
      padding: 0;
    }
    &__menu__items {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__menu__item {
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: $color-text-set;
      padding-top: 4rem;
      cursor: pointer;
      transition: all 0.5s;
    }
    &__menu__item {
      margin: 0 2rem;
    }
    &__header__menu {
      display: none;
    }
  }
}

#home:hover,
#categories:hover,
#score:hover {
  color: #ffbca2;
}

#home:hover#home::after,
#score:hover#score::after {
  filter: invert(0%) sepia(36%) saturate(4413%) hue-rotate(295deg)
    brightness(104%) contrast(101%);
}

#home {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../assets/svg/home.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2rem;
    height: 2.2rem;
    top: 1.5rem;
    left: 0.5rem;
  }
}

#categories {
  color: #ffbca2;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../assets/svg/category.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2.1rem;
    height: 2.1rem;
    top: 1.5rem;
    left: 1.7rem;
  }
}

#score {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../assets/svg/star.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2.2rem;
    height: 2.2rem;
    top: 1.5rem;
    left: 0.3rem;
  }
}

.settings__default:hover + .settings__save {
  background: $color-bg-main;
  color: $color-text-set;
  border: 1px solid $color-text-set;
}

@media (min-width: 520px) {
  .welcome {
    background-image: url(../assets/image/bg-welcome-1.png);
    &__main {
      margin-top: 10rem;
    }
    &__logo {
      background-image: url(../assets/image/logo-1.png);
      width: 32rem;
      height: 12rem;
      margin-bottom: 11rem;
    }
    &__footer {
      margin-top: 2rem;
    }
    &__author {
      font-size: 1.6rem;
    }
  }
  .settings {
    &__close {
      background-image: url(../assets/svg/close.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      top: 3.2rem;
      right: 3rem;
      cursor: pointer;
    }
    &__back {
      left: 4.5rem;
    }
    &__inner {
      align-items: flex-start;
      margin-left: 9rem;
    }
    &__range {
      min-width: 40rem;
      width: 100%;
    }
    &__volume {
      text-align: left;
    }
    &__volume__inner {
      margin-bottom: 5rem;
    }
    &__language__inner {
      margin-bottom: 6rem;
    }
    &__language__block {
      display: flex;
      align-self: flex-start;
    }
    &__language__text {
      left: 0;
    }
    &__language {
      margin: 0;
      margin-left: 3rem;
    }
    &__time__game {
      margin-bottom: 6rem;
    }
    &__answer__block {
      margin-bottom: 5rem;
      align-self: flex-start;
    }
    &__time__block {
      display: flex;
      align-self: flex-start;
    }
    &__time__text {
      left: 0;
    }
    &__time__check {
      margin: 0;
      margin-left: 3rem;
    }
    &__btn__block {
      max-width: 80rem;
      width: 100%;
    }
    &__default {
      min-width: 20rem;
      max-width: 30rem;
      width: 100%;
      margin-right: 3rem;
    }
    &__save {
      min-width: 20rem;
      margin-right: 3rem;
      max-width: 30rem;
      width: 100%;
    }
  }
  .category {
    &__header__menu {
      display: block;
      margin-right: auto;
      margin-left: 5rem;
    }
    &__header__items {
      padding: 0;
      list-style: none;
      display: flex;
    }
    &__item__active {
      color: $color-bg !important;
    }
    &__header__item {
      font-size: 1.8rem;
      line-height: 1.8rem;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.5s;
      margin-right: 2rem;
      transition: all 0.5s;
      &:hover {
        color: $color-bg;
      }
    }
    &__img {
      max-width: 20rem;
      max-height: 20rem;
    }
    &__item__title {
      font-size: 2rem;
      line-height: 2.2rem;
      margin-bottom: 1rem;
    }
    &__settings__category {
      margin-top: 1.8rem;
    }
    &__top {
      margin-left: 2rem;
    }
    &__title {
      margin-left: 2rem;
    }
    &__items {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem;
      margin-left: 1.5rem;
      padding-bottom: 3rem;
    }
    &__item {
      padding: 0;
    }
    &__menu {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .welcome {
    background-image: url(../assets/image/bg-welcome-2.png);
    &__main {
      margin-top: 12rem;
    }
    &__logo {
      background-image: url(../assets/image/logo-2.png);
      width: 44rem;
      height: 16.4rem;
      margin-bottom: 8rem;
    }
    &__artist {
      font-size: 3rem;
      min-width: 30rem;
      height: 8rem;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 8rem;
      }
    }
    &__pictures {
      font-size: 3rem;
      min-width: 30rem;
      height: 8rem;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 8rem;
      }
    }
  }
  .settings {
    &__language__title {
      font-size: 3.4rem;
    }
    &__language__text {
      font-size: 2.2rem;
    }
    &__volume {
      font-size: 3.4rem;
    }
    &__time {
      font-size: 3.4rem;
    }
    &__answer__text {
      font-size: 3.4rem;
    }
    &__range {
      min-width: 50rem;
      width: 100%;
    }
    &__btn__block {
      justify-content: right;
      max-width: 100%;
    }
    &__footer {
      align-self: flex-end;
      margin-right: 3rem;
      margin-top: 2rem;
    }
    &__author {
      text-align: right;
    }
  }
  .category {
    &__items {
      grid-template-columns: repeat(4, 1fr);
      margin-left: 2rem;
    }
  }
}

@media (min-width: 1280px) {
  .category {
    &__items {
      grid-template-columns: repeat(6, 2fr);
      margin-left: 2rem;
    }
    &__item {
      padding: 0;
      margin: 0;
    }
  }
}
