$dark: #303030;
$gray-dark: #444;
$text: #fff;
$text1: rgb(83, 155, 245);
$text2: #9e9e9e;

$bg1: radial-gradient(ellipse at bottom, #1b2735 -253%, #090a0f 100%);
$bg2: #0e121a;
$bg3: #191c29;

$btn1: #a27af3;
$btn2: #e68578;
$btn3: #7cc0bb;
$btn4: #cdb2a0;

$btn-hover1: #805ace;
$btn-hover2: #ce6456;
$btn-hover3: #1b978f;
$btn-hover4: #a57250;
