html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-butto {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  background: black;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.preload-x {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 9999;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}

.loader {
  width: 75px;
  height: 75px;
  border: 5px solid wheat;
  border-radius: 50%;
  border-top-color: #be8f37;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: 1s around infinite linear;
}

.change-x {
  opacity: 0;
  visibility: hidden;
}

@keyframes around {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.menu {
  position: fixed;
  width: 50px;
  height: 30px;
  top: 15px;
  left: 10px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.menu__inner {
  width: 50px;
  height: 2px;
  background-color: #fff;
  border-radius: 7px;
  transition: all 0.5s;
}

.menu__inner::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fff;
  border-radius: 7px;
  transition: all 0.5s;
  transform: translateY(-12px);
}

.menu__inner::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fff;
  border-radius: 7px;
  transition: all 0.5s;
  transform: translateY(12px);
}

.menu.active-y .menu__inner {
  transform: translateX(-50px);
  background-color: transparent;
}

.menu.active-y .menu__inner::before {
  transform: rotate(45deg) translate(35px, -35px);
  width: 30px;
}

.menu.active-y .menu__inner::after {
  transform: rotate(-45deg) translate(35px, 35px);
  width: 30px;
}

.theme__block {
  position: absolute;
  right: 15px;
  top: 15px;
}

.theme__btn {
  display: block;
  width: 64px;
  height: 28px;
  border-radius: 17px;
  background: #bfbfbf;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.5s;
  transition-duration: 300ms;
}

.theme__btn::before {
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 17px;
  background: #fff;
  top: 1px;
  left: 3px;
  transition-duration: 350ms;
  position: absolute;
  z-index: 1;
}

.change {
  background: #2a2a2a;
}

.change::before {
  left: 37px;
}

.leftside {
  position: fixed;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 140px;
  transition: all 0.5s;
  z-index: 999;
  padding-top: 50px;
  top: 0px;
}

.leftside__close {
  transform: translateX(-500%);
}

.leftside__close__img {
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s;
}

.leftside__close__img:hover {
  filter: invert(60%) sepia(93%) saturate(2219%) hue-rotate(318deg) brightness(83%) contrast(93%);
  transform: scale(1.2);
}

.leftside__certificate {
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  max-width: 320px;
  width: 100%;
  min-height: 50px;
  transition: all 0.5s;
  text-align: center;
  border: none;
  padding: 10px 10px;
}

.leftside__certificate:hover {
  background-color: #20201f;
}

.leftside__btn {
  display: block;
  font-size: 18px;
  line-height: 28px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  max-width: 320px;
  width: 100%;
  min-height: 50px;
  transition: all 0.5s;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
  padding: 10px 10px;
  transition: all 0.5s;
  position: relative;
}

.leftside__btn:focus {
  outline: none;
}

.leftside__btn:hover {
  background-color: #20201f;
}

.leftside__btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 7px;
  transition: all 0.5s;
  right: 5px;
  transform: rotate(90deg);
  bottom: 25px;
}

.leftside__btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 7px;
  transition: all 0.5s;
  right: 5px;
  transform: translateY(12px);
}

.leftside__btn__block {
  position: relative;
}

.leftside__hobbies {
  transition: all 0.5s;
}

.leftside__hobbies__close {
  max-height: 0;
  overflow: hidden;
  transform: translateX(-200%);
}

.leftside__items {
  padding-left: 0;
  display: block;
}

.leftside__item {
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  padding-left: 40px;
  margin-bottom: 15px;
  position: relative;
}

.leftside__item__media {
  display: none;
}

.leftside__btn.active-z::before {
  transform: rotate(0deg);
}

.leftside__btn.active-z::after {
  background-color: transparent;
  opacity: 0;
  z-index: -999;
  transition-delay: 1s;
}

#item-1::after {
  content: "";
  position: absolute;
  background-image: url(../assets/svg/hobbies/hobbies-1.png);
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
  right: 30px;
}

#item-2::after {
  content: "";
  position: absolute;
  background-image: url(../assets/svg/hobbies/hobbies-2.png);
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
  right: 30px;
}

#item-5::after {
  content: "";
  position: absolute;
  background-image: url(../assets/svg/hobbies/hobbies-5.png);
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
  right: 30px;
}

#item-6::after {
  content: "";
  position: absolute;
  background-image: url(../assets/svg/hobbies/hobbies-6.png);
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
  right: 30px;
}

.header {
  background-image: url(../assets/image/bg-reverse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
}

.header__inner {
  background-image: url(../assets/image/container.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100px;
  justify-content: center;
  padding-left: 50px;
}

.header__logo {
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.header__info {
  display: flex;
  background-image: url(../assets/image/container.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  padding-left: 100px;
  position: relative;
  height: 507px;
}

.header__menu__inner {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__menu__item {
  margin-right: 80px;
}

.header__menu__link {
  font-size: 25px;
  color: #d8dfd2;
  text-decoration: none;
  outline: none;
  transition: all 0.5s;
}

.header__menu__link:hover {
  color: #928585;
}

.header__info__title {
  font-size: 64px;
  line-height: 90px;
  color: #ffffff;
  margin: 0;
}

.header__info__title-2 {
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__info__text {
  font-size: 18px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
  max-width: 600px;
  width: 100%;
}

.header__info__img {
  width: 450px;
  height: 500px;
  transform: scale(-1, 1);
  cursor: pointer;
  transition: all 0.5s;
}

.header__info__img:active {
  transform: scale(1, 1);
}

.header__social {
  display: flex;
  align-items: center;
  position: absolute;
  max-width: 100px;
  z-index: 10;
  right: 10px;
}

.header__social__item {
  margin-bottom: 10px;
}

.header__social__img {
  width: 50px;
  height: 50px;
  transition: all 0.5s;
}

.header__social__img:hover {
  border: 1px solid wheat;
  transform: scale(1.1);
}

.header__link {
  color: #08fdd8;
  transition: color 0.5s;
  text-decoration: none;
  cursor: pointer;
}

.header__link:hover {
  color: #019e86;
}

.header__img__media {
  display: none;
}

.about {
  background-image: url(../assets/image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.about__inner {
  padding-left: 100px;
  background-image: url(../assets/image/container.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
}

.about__title {
  font-size: 40px;
  line-height: 90px;
  color: #ffffff;
  margin: 0;
  padding-top: 10px;
}

.about__items {
  column-count: 2;
  padding-left: 0;
  max-width: 400px;
}

.about__item {
  padding-bottom: 10px;
  font-size: 19px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
}

.about__inner__right {
  object-fit: cover;
  width: 560px;
  height: 315px;
  margin-right: 50px;
  position: relative;
}

.about__inner__right::after {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  max-width: 177px;
  width: 100%;
  height: 2px;
  background-color: #08fdd8;
  transition: 0.5s ease-out;
}

.about__inner__right::before {
  content: "";
  position: absolute;
  right: -10px;
  width: 2px;
  height: 176px;
  background-color: #08fdd8;
  transition: 0.5s ease-out;
}

.about__inner__right:hover::after {
  max-width: 600px;
  transition-duration: 1s;
  background-color: #ff2253;
}

.about__inner__right:hover::before {
  height: 300px;
  height: 100%;
  transition-duration: 1.5s;
  background-color: #ff2253;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-style: none;
  border: none;
}

main {
  background-image: url(../assets/image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.project__inner {
  background-image: url(../assets/image/container.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100px;
  padding-bottom: 50px;
  position: relative;
}

.project__slide__inner__position {
  display: flex;
}

.project__title {
  font-size: 40px;
  line-height: 90px;
  color: #ffffff;
  margin: 0;
  padding-top: 50px;
}

.project__slides {
  position: relative;
}

.project__slides__container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project__slide {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;
}

.project__slide__inner {
  display: flex;
  justify-content: space-between;
}

.project__slide__description__block {
  max-width: 400px;
  width: 100%;
  background-color: rgba(42, 42, 42, 0.5);
  height: 300px;
  padding: 10px 10px;
  margin-right: 30px;
}

.project__slide__stack__block {
  max-width: 300px;
  width: 100%;
  background-color: rgba(42, 42, 42, 0.5);
  height: 300px;
  padding: 10px 10px;
}

.project__slide__description__title {
  font-size: 19px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}

.project__slide__stack__title {
  font-size: 19px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}

.project__slide__text {
  font-size: 15px;
  line-height: 25px;
  color: #ababab;
  font-weight: 400;
  margin: 0;
}

.project__slide__stack__items {
  list-style: none;
  padding: 0;
}

.project__slide__stack__item {
  padding-bottom: 13px;
  position: relative;
}

.project__slide__stack__link {
  font-size: 17px;
  line-height: 27px;
  color: #ababab;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
  outline: none;
  transition: all 0.5s;
}

.project__slide__stack__link:hover {
  color: #7e6c6c;
}

.project__slide__stack__item-1::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/projects/html.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 50px;
  transition: all 0.5s ease-out;
}

.project__slide__stack__item-2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/projects/css.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 50px;
  transition: all 0.5s ease-out;
}

.project__slide__stack__item-3::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/projects/js.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 80px;
  transition: all 0.5s ease-out;
}

.project__slide__stack__item-4::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/projects/sass.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 50px;
  transition: all 0.5s ease-out;
}

.project__slide__stack__item-5::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/projects/git.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 30px;
  transition: all 0.5s ease-out;
}

.project__slide__stack__item-6::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/projects/vsc.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 145px;
  transition: all 0.5s ease-out;
}

.project__slide__img {
  width: 400px;
  height: 400px;
  margin-right: 15px;
  object-fit: cover;
  transition: all 0.5s;
}

.project__slide__img:hover {
  opacity: 0.8;
  transform: scale(0.9);
}

.project__menu {
  display: flex;
  align-items: center;
  width: 600px;
  min-height: 80px;
  background-image: url(../assets/image/container.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 100;
  left: -18px;
  bottom: 7px;
}

.project__number__inner {
  display: flex;
  align-items: center;
  margin-left: 75px;
  position: relative;
  justify-content: space-between;
  width: 75px;
  margin-right: 50px;
}

.project__number__inner::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  left: 37px;
}

.project__menu__number {
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #fff;
}

.project__square__inner {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.project__menu__square {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
  margin-right: 30px;
  transition: all 0.5s;
}

.project__menu__square:hover {
  background-color: #d2b183;
}

.project__menu__square__position {
  margin-right: 27px;
}

.project__slide__stack__link:hover::after {
  transform: scale(1.2);
}

#jQuery::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/projects/jquery.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 60px;
}

#jQuery-1::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/projects/jquery.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 60px;
}

#gulp::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/projects/gulp.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 40px;
  bottom: 14px;
}

#gulp-1::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/projects/gulp.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 40px;
  bottom: 14px;
}

.left {
  background-image: url(../assets/svg/project-arrow-left.svg);
  width: 30px;
  height: 8px;
  background-color: transparent;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.left:hover {
  filter: invert(56%) sepia(10%) saturate(1055%) hue-rotate(356deg) brightness(94%) contrast(92%);
}

.left:active {
  transform: scale(0.8);
}

.right {
  background-image: url(../assets/svg/project-arrow-right.svg);
  width: 30px;
  height: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.right:hover {
  filter: invert(56%) sepia(10%) saturate(1055%) hue-rotate(356deg) brightness(94%) contrast(92%);
}

.right:active {
  transform: scale(0.8);
}

.next,
.active {
  display: block;
}

.next {
  position: absolute;
  width: 100%;
  top: 0;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.active-color {
  background-color: #b1782d;
}

.skills__inner {
  background-image: url(../assets/image/container.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100px;
  padding-bottom: 50px;
}

.skills__title {
  font-size: 40px;
  line-height: 90px;
  color: #ffffff;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills__items {
  padding-left: 0;
}

.skills__item {
  height: 2px;
  background-color: #373737;
  margin-bottom: 40px;
  position: relative;
  max-width: 500px;
}

.skills__block__inner {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.skills__block {
  max-width: 300px;
  width: 100%;
  padding: 20px 20px;
  background: #2a2a2a;
  margin-right: 50px;
  transition: all 0.5s ease-out;
  transition-duration: 0.3s;
  opacity: 0;
}

.skills__block-1 {
  transform: translateX(-500%);
}

.skills__block-2 {
  transform: translateX(500%);
}

.skills__block-3 {
  transform: translateX(500%);
}

.skills__block__title {
  font-size: 19px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

.skills__block__title__text {
  font-size: 15px;
  line-height: 25px;
  color: #ababab;
  font-weight: 400;
  margin: 0;
}

.skills__block__date {
  font-size: 15px;
  line-height: 25px;
  color: #ababab;
  font-weight: 400;
  margin: 0;
  padding-bottom: 20px;
}

.skills__block__text {
  font-size: 15px;
  line-height: 25px;
  color: #ababab;
  font-weight: 400;
  margin: 0;
}

.skills__left__and__right {
  display: flex;
  justify-content: space-between;
}

.skills__right {
  padding-right: 100px;
}

.skills__right__title {
  font-size: 40px;
  line-height: 90px;
  color: #ffffff;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills__right__text {
  font-size: 25px;
  line-height: 35px;
  color: #ababab;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;
}

.skills__block-1.active {
  transform: translateX(0%);
  opacity: 1;
}

.skills__block-2.active {
  transform: translateX(0%);
  opacity: 1;
}

.skills__block-3.active {
  transform: translateX(0%);
  opacity: 1;
}

.position {
  margin-left: 30px;
}

.position-1 {
  margin-left: -15px;
  position: relative;
}

.position-1::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: yellow;
  left: 35px;
  bottom: 45px;
}

.html {
  width: 0%;
  opacity: 0;
  background-color: #08fdd8;
  height: 2px;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
  transition-delay: 0.1s;
}

.html::after {
  content: "HTML";
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
  position: absolute;
  top: -35px;
  left: 0;
}

.html.active {
  opacity: 1;
  width: 90%;
}

.css {
  width: 0%;
  opacity: 0;
  background-color: #ff2253;
  height: 2px;
  position: absolute;
  transition: all 0.5s ease-out;
  transition-delay: 0.3s;
}

.css::after {
  content: "CSS";
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
  position: absolute;
  top: -35px;
  left: 0;
}

.css.active {
  opacity: 1;
  width: 80%;
}

.js {
  width: 0;
  opacity: 0;
  background-color: #d26cd5;
  height: 2px;
  position: absolute;
  transition: all 0.5s ease-out;
  transition-delay: 0.1s;
}

.js::after {
  content: "Javascript";
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
  position: absolute;
  top: -35px;
  left: 0;
}

.js.active {
  opacity: 1;
  width: 45%;
}

.git {
  width: 0;
  opacity: 0;
  background-color: #08fdd8;
  height: 2px;
  position: absolute;
  transition: all 0.5s ease-out;
  transition-delay: 0.2s;
}

.git::after {
  content: "Git";
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
  position: absolute;
  top: -35px;
  left: 0;
}

.git.active {
  opacity: 1;
  width: 50%;
}

.code {
  background-image: url(../assets/image/bg-reverse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.code__inner {
  background-image: url(../assets/image/container.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.code__title {
  font-size: 40px;
  line-height: 90px;
  color: #ffffff;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 20px;
}

.code__js {
  max-width: 570px;
  width: 100%;
}

.code__inner__task__title {
  font-size: 40px;
  line-height: 90px;
  color: #ffffff;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 35px;
  padding-right: 60px;
}

.code__task__text {
  max-width: 300px;
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  color: #ababab;
  font-weight: 400;
  margin: 0 69px 0 0;
  background: #26262d;
  padding: 20px 20px;
}

.code__task__text span {
  display: block;
  color: #fff;
}

.hljs {
  display: block;
  overflow-x: hidden;
  padding: 15px 15px;
  background: #26262d;
  font-weight: 400;
  font-size: 16px;
}

.footer__content {
  background-image: url(../assets/image/container.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 50px;
}

.footer__content__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__year {
  font-size: 25px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

.footer__logo__img {
  width: 70px;
  height: 70px;
  margin-top: 5px;
  transition: all 0.5s;
  background-color: transparent;
  background: transparent;
}

.footer__logo__img:hover {
  transform: scale(1.1);
}

.footer__logo__img-1 {
  margin-right: 50px;
  width: 70px;
  height: 70px;
  margin-top: 5px;
  transition: all 0.5s;
}

.footer__logo__img-1:hover {
  transform: scale(1.1);
}

@media (max-width: 1600px) {
  .header {
    padding-top: 70px;
  }
}

@media (max-width: 1150px) {
  .header__info {
    padding-left: 50px;
  }
  .header__info__title {
    font-size: 50px;
    line-height: 70px;
  }
  .header__info__title-2 {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .header__info__text {
    font-size: 17px;
    line-height: 35px;
  }
  .header__info__img {
    width: 350px;
    height: 400px;
  }
  .header__social__img {
    width: 40px;
    height: 40px;
  }
  .about__inner {
    display: block;
    padding-left: 50px;
  }
  .about__inner__left {
    max-width: 400px;
    margin: 0 auto;
  }
  .about__inner__right {
    max-width: 600px;
    height: 280px;
    width: 100%;
    margin: 0 auto;
  }
  .about__inner__right:hover::before {
    height: 278px;
    height: 100%;
  }
  .about__items {
    padding: 0;
  }
  .about__item {
    padding: 0;
  }
  .project__menu {
    width: 470px;
    position: static;
    margin: 0 auto;
    margin-top: 20px;
  }
  .project__number__inner {
    margin-left: 30px;
  }
  .project__inner {
    padding-left: 50px;
  }
  .project__slide__img {
    max-width: 1000px;
    width: 100%;
    height: 350px;
    padding-right: 50px;
  }
  .project__title {
    padding-top: 30px;
  }
  .project__slide__inner {
    flex-direction: column-reverse;
  }
  .project__slide__inner__position {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project__slide__stack__block {
    max-width: 400px;
  }
  .project__slide__description__block {
    max-width: 400px;
  }
  .skills__block {
    margin-right: 15px;
    padding: 10px 10px;
  }
  .skills__inner {
    padding-left: 50px;
  }
  .code__inner {
    padding-left: 50px;
    display: block;
  }
  .code__js {
    margin: 0 auto;
  }
  .code__title {
    text-align: center;
  }
  .code__inner__task__title {
    margin: 0;
    padding: 0;
  }
  .code__task__text {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
  .code__inner__task {
    margin-right: 30px;
  }
  .header__menu {
    max-width: 800px;
    width: 100%;
  }
}

@media (max-width: 850px) {
  .header__info__title {
    font-size: 35px;
    line-height: 40px;
  }
  .header__info__title-2 {
    font-size: 21px;
    line-height: 25px;
    padding-bottom: 20px;
  }
  .header__info__text {
    font-size: 16px;
    line-height: 27px;
  }
  .header__menu__link {
    font-size: 20px;
  }
  .header__logo {
    width: 50px;
    height: 50px;
  }
  .header__menu__item {
    margin-right: 60px;
  }
  .skills__left__and__right {
    display: block;
  }
  .skills__right__title {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .skills__block__inner {
    flex-direction: column;
    align-items: flex-end;
    margin-top: -250px;
    position: relative;
  }
  .skills__block {
    margin-bottom: 15px;
  }
  .header__inner {
    padding-left: 20px;
  }
  .about__inner__right {
    max-width: 500px;
  }
}

@media (max-width: 690px) {
  .project__slide__img {
    max-width: 550px;
    width: 100%;
  }
  .project__number__inner {
    display: none;
  }
  .project__control {
    display: none;
  }
  .project__menu {
    margin: 0 auto;
    border: none;
    background-image: none;
  }
  .project__square__inner {
    margin: 0 auto;
  }
  .code__js {
    font-size: 11px;
  }
}

@media (max-width: 650px) {
  .header__info {
    display: block;
    min-height: 550px;
  }
  .header__info__title {
    font-size: 33px;
    padding-top: 30px;
  }
  .header__info__img {
    display: none;
  }
  .header__img__media {
    display: block;
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 10px;
    left: 50px;
  }
  .header__social {
    bottom: -30px;
    align-items: flex-end;
  }
  .header__info {
    padding-left: 20px;
  }
  .header__menu__item {
    margin-right: 40px;
  }
  .header__menu__inner {
    padding-left: 0;
  }
  .project__inner {
    padding-left: 20px;
    padding-bottom: 0;
  }
  .project__title {
    padding-left: 10px;
  }
  .project__menu {
    max-width: 360px;
    width: 100%;
    margin-bottom: 25px;
    min-height: 0;
  }
  .project__slide__text {
    font-size: 15px;
    line-height: 27px;
  }
  .project__slide__inner__position {
    display: block;
    margin: 0 auto;
    margin-right: 50px;
    min-height: 610px;
  }
  .project__slide__description__block {
    min-height: 200px;
    height: 100%;
  }
  .project__slide__stack__block {
    min-height: 200px;
    height: 100%;
  }
  .skills__block__inner {
    margin-top: 0;
    align-items: center;
  }
  .skills__right {
    padding-right: 10px;
    width: 160px;
    margin: 20px auto;
  }
  .skills__inner {
    padding-left: 30px;
  }
  .skills__item {
    margin-right: 5px;
  }
  .code__inner {
    padding-left: 15px;
  }
  .code__js {
    max-width: 420px;
    width: 100%;
    font-size: 10px;
    margin: 0;
  }
  .footer__logo__img {
    width: 70px;
    height: 70px;
  }
  .footer__logo__img-1 {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .about__inner__right {
    max-width: 400px;
    height: 225px;
  }
  .project__menu__square {
    margin-right: 18px;
    width: 12px;
    height: 12px;
  }
  .footer__content {
    padding-left: 10px;
  }
  .header__info__left {
    margin-right: 10px;
  }
}

@media (max-width: 525px) {
  .header__social__item {
    margin-bottom: 10px;
  }
  .header__social__inner {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .header__social {
    bottom: -25px;
    left: -18px;
  }
  .header__info__text {
    font-size: 14px;
    line-height: 22px;
    max-width: 350px;
    height: 100%;
    margin-bottom: 10px;
  }
  .header__inner {
    display: none;
  }
  .leftside__item__media {
    display: block;
  }
  .about__item {
    font-size: 15px;
    line-height: 35px;
    max-width: 130px;
  }
  .about__inner__left {
    margin: 0;
  }
  .about__inner {
    padding-left: 20px;
  }
  .about__title {
    padding-top: 0;
  }
  .project__slide__text {
    font-size: 16px;
    line-height: 30px;
  }
  .project__slide__img {
    height: 250px;
    padding-right: 20px;
  }
  .about__inner__right {
    max-width: 400px;
  }
  .code__inner__js {
    padding-right: 15px;
  }
  .code__task__text {
    margin: 0 15px 0 0px;
  }
  .header__img__media {
    width: 240px;
    height: 240px;
    left: 60px;
  }
  .header__social__img {
    width: 30px;
    height: 30px;
  }
  .project__slide__inner__position {
    margin-right: 25px;
  }
}

@media (max-width: 490px) {
  .about__inner__right {
    max-width: 320px;
    height: 181px;
  }
  .about__inner__right::after {
    max-width: 100px;
  }
  .about__inner__right::before {
    height: 100px;
  }
  .about__inner__right:hover::after {
    transition-duration: 3s;
  }
  .about__inner__right:hover::before {
    max-width: 320px;
    height: 181px;
  }
}

@media (max-width: 470px) {
  .skills__block__inner {
    margin-right: 15px;
  }
}

@media (max-width: 450px) {
  .skills__title {
    font-size: 30px;
    line-height: 45px;
  }
  .about__inner__right {
    max-width: 300px;
    height: 165px;
  }
  .about__inner__right:hover::before {
    height: 100%;
  }
  .header__info__left {
    margin-right: 5px;
  }
  .code__js {
    font-size: 9px;
  }
}

@media (max-width: 420px) {
  .header__info__right {
    margin-left: 30px;
  }
  .about__items {
    margin-top: 0;
  }
  .about__item {
    font-size: 14px;
    line-height: 31px;
  }
  .left {
    margin-right: 5px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .right {
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .skills__block {
    margin: 5px;
  }
  .code__js {
    font-size: 8px;
    padding: 5px;
  }
  .code__task__text {
    font-size: 13px;
    text-align: left;
  }
  .code__title {
    font-size: 37px;
    line-height: 60px;
  }
  .code__inner__task__title {
    font-size: 37px;
    line-height: 60px;
  }
}

@media (max-width: 380px) {
  .about__inner__right {
    max-width: 250px;
    height: 138px;
    margin: 0 auto;
  }
  .about__inner__right::after {
    height: 1px;
    top: -5px;
  }
  .about__inner__right::before {
    width: 1px;
    right: -5px;
  }
  .about__inner__right:hover::before {
    transition-duration: 1s;
  }
  .footer__content {
    padding-left: 10px;
  }
  .footer__logo__img-1 {
    width: 50px;
    height: 50px;
  }
  .code__inner__js {
    padding-right: 5px;
  }
  .code__task__text {
    margin: 0;
  }
  .footer__logo__img {
    width: 50px;
    height: 50px;
  }
  .header__img__media {
    width: 240px;
    height: 240px;
    left: 64px;
    bottom: 17px;
  }
  .header__social {
    bottom: -38px;
  }
}

@media (max-width: 355px) {
  .header__img__media {
    left: 44px;
  }
}
