@import "_normalize.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #000000 100%);
  font-size: 10px;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.preload-x {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loader {
  width: 75px;
  height: 75px;
  border: 5px solid wheat;
  border-radius: 50%;
  border-top-color: #be8f37;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: 1s around infinite linear;
}

.change-x {
  opacity: 0;
  visibility: hidden;
}

@keyframes around {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.menu {
  position: absolute;
  cursor: pointer;
  z-index: 1300;
  top: 4rem;
  left: 3rem;
  display: none;
  &__inner {
    width: 50px;
    height: 2px;
    background-color: #fff;
    border-radius: 7px;
    transition: all 0.5s;
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: #fff;
      border-radius: 7px;
      transition: all 0.5s;
      transform: translateY(-12px);
    }
    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: #fff;
      border-radius: 7px;
      transition: all 0.5s;
      transform: translateY(12px);
    }
  }
}

.menu.active-y .menu__inner {
  transform: translateX(-50px);
  background-color: transparent;
}

.menu.active-y .menu__inner::before {
  transform: rotate(45deg) translate(35px, -35px);
  width: 30px;
}

.menu.active-y .menu__inner::after {
  transform: rotate(-45deg) translate(35px, 35px);
  width: 30px;
}

.leftside {
  position: fixed;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 140px;
  transition: all 0.5s;
  z-index: 1200;
  padding-top: 6rem;
  top: 0px;
  width: 100%;
  &__close {
    transform: translateX(-500%);
  }
  &__close__img {
    width: 25px;
    height: 25px;
    right: 10px;
    top: 10px;
    position: absolute;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      filter: invert(60%) sepia(93%) saturate(2219%) hue-rotate(318deg)
        brightness(83%) contrast(93%);
      transform: scale(1.2);
    }
  }
  &__certificate {
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    width: 100%;
    min-height: 50px;
    transition: all 0.5s;
    text-align: center;
    border: none;
    padding: 10px 10px;
    &:hover {
      background-color: rgb(32, 32, 31);
    }
  }
  &__btn {
    display: block;
    font-size: 18px;
    line-height: 28px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    width: 100%;
    min-height: 50px;
    transition: all 0.5s;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
    padding: 10px 10px;
    transition: all 0.5s;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: rgb(32, 32, 31);
    }
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: #fff;
      border-radius: 7px;
      transition: all 0.5s;
      right: 5px;
      transform: rotate(90deg);
      bottom: 25px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: #fff;
      border-radius: 7px;
      transition: all 0.5s;
      right: 5px;
      transform: translateY(12px);
    }
  }
  &__btn__block {
    position: relative;
  }
  &__hobbies {
    transition: all 0.5s;
  }
  &__hobbies__close {
    max-height: 0;
    overflow: hidden;
    transform: translateX(-200%);
  }
  &__items {
    padding-left: 0;
    display: block;
  }
  &__item {
    font-size: 20px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 400;
    text-align: left;
    padding-left: 40px;
    margin-bottom: 15px;
    position: relative;
  }
  &__item__media {
    display: none;
  }
}

.leftside__btn.active-z::before {
  transform: rotate(0deg);
}
.leftside__btn.active-z::after {
  background-color: transparent;
  opacity: 0;
  z-index: -999;
  transition-delay: 1s;
}

#item-1 {
  &::after {
    content: "";
    position: absolute;
    background-image: url(../assets/svg/hobbies/hobbies-1.png);
    background-size: cover;
    background-position: center;
    width: 35px;
    height: 35px;
    right: 30px;
  }
}
#item-2 {
  &::after {
    content: "";
    position: absolute;
    background-image: url(../assets/svg/hobbies/hobbies-2.png);
    background-size: cover;
    background-position: center;
    width: 35px;
    height: 35px;
    right: 30px;
  }
}
#item-5 {
  &::after {
    content: "";
    position: absolute;
    background-image: url(../assets/svg/hobbies/hobbies-5.png);
    background-size: cover;
    background-position: center;
    width: 35px;
    height: 35px;
    right: 30px;
  }
}
#item-6 {
  &::after {
    content: "";
    position: absolute;
    background-image: url(../assets/svg/hobbies/hobbies-6.png);
    background-size: cover;
    background-position: center;
    width: 35px;
    height: 35px;
    right: 30px;
  }
}

main {
  padding-top: 15rem;
}

.header {
  &__inner {
    display: flex;
    align-items: center;
    min-height: 90px;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background: radial-gradient(ellipse at bottom, #10161c 0%, #000000 100%);
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 100px;
    position: relative;
  }
  &__info__color {
    color: #ff2253;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: -4rem;
      top: 2rem;
      width: 5rem;
      height: 5rem;
      background-image: url(../assets/image/hi.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__info__link {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }
  &__info__right {
    position: relative;
  }
  &__git {
    width: 6rem;
    height: 6rem;
    border: 10px solid;
    border-color: rgba(#373737, 0.5);
    border-radius: 50%;
    border-width: 2rem;
    transition: all 0.5s;
    overflow: hidden;
    &:hover {
      width: 7.4rem;
      height: 7.4rem;
    }
  }
  &__lin {
    width: 6rem;
    height: 6rem;
    border: 10px solid;
    border-color: rgba(#4169e1, 0.5);
    border-radius: 50%;
    border-width: 2rem;
    transition: all 0.5s;
    overflow: hidden;
    &:hover {
      width: 7.4rem;
      height: 7.4rem;
    }
  }
  &__info__item {
    animation-delay: 0.5s;
    position: absolute;
    animation: float 2s ease-in-out infinite alternate;
  }
  &__info__item-link {
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
  }
  &__item-git {
    position: absolute;
    right: 0;
    bottom: 5rem;
    animation-direction: alternate-reverse;
  }
  &__item-lin {
    left: 0;
    top: 5rem;
    border-radius: 10px solid;
  }
  &__menu__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  &__menu__item {
    margin-right: 80px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__menu__link {
    font-size: 25px;
    color: rgb(216, 223, 210);
    text-decoration: none;
    outline: none;
    transition: all 1s;
    &:hover {
      color: rgb(146, 133, 133);
      border-bottom: 0.1rem solid #ff2253;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      animation-delay: all 1s;
    }
  }
  &__info__title {
    font-size: 64px;
    line-height: 90px;
    color: #ffffff;
    margin: 0;
  }
  &__info__title-2 {
    font-size: 28px;
    line-height: 28px;
    color: #ffffff;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__info__text {
    font-size: 18px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
    max-width: 600px;
    width: 100%;
  }
  &__info__img {
    width: 29rem;
    height: 35rem;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 5rem;
    border-bottom: 1rem solid #ff2253;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  &__social {
    margin-right: 10rem;
  }
  &__social__item {
    margin: 1rem;
  }
  &__social__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0;
  }
  &__social__img {
    width: 50px;
    height: 50px;
    transition: all 0.5s;
    &:hover {
      border: 1px solid wheat;
      transform: scale(1.1);
    }
  }
  &__link {
    color: #08fdd8;
    transition: color 0.5s;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: #019e86;
    }
  }
}


@keyframes float {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}

.about {
  background-image: url(../assets/image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  &__inner {
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 8rem;
  }
  &__title {
    font-size: 40px;
    line-height: 90px;
    color: #ffffff;
    margin: 0;
    padding-top: 10px;
  }
  &__items {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding-left: 0;
    max-width: 400px;
  }
  &__item {
    padding-bottom: 10px;
    font-size: 19px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
  }
  &__inner__right {
    object-fit: cover;
    width: 560px;
    height: 315px;
    margin-right: 50px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -10px;
      max-width: 177px;
      width: 100%;
      height: 2px;
      background-color: #08fdd8;
      transition: 0.5s ease-out;
    }
    &::before {
      content: "";
      position: absolute;
      right: -10px;
      width: 2px;
      height: 176px;
      background-color: #08fdd8;
      transition: 0.5s ease-out;
    }
  }
}

.about__inner__right:hover::after {
  max-width: 600px;
  transition-duration: 1s;
  background-color: #ff2253;
}
.about__inner__right:hover::before {
  height: 300px;
  height: 100%;
  transition-duration: 1.5s;
  background-color: #ff2253;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-style: none;
  border: none;
}

.project {
  &__inner {
    padding-left: 100px;
    padding-bottom: 50px;
    position: relative;
  }
  &__slide__inner__position {
    display: flex;
  }
  &__title {
    font-size: 40px;
    line-height: 90px;
    color: #ffffff;
    margin: 0;
    padding-top: 50px;
  }
  &__slides {
    position: relative;
  }
  &__slides__container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &__slide {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
  }
  &__slide__inner {
    display: flex;
    justify-content: space-between;
  }
  &__slide__description__block {
    max-width: 400px;
    width: 100%;
    background-color: rgba(42, 42, 42, 0.5);
    height: 300px;
    padding: 10px 10px;
    margin-right: 30px;
  }
  &__slide__stack__block {
    max-width: 300px;
    width: 100%;
    background-color: rgba(42, 42, 42, 0.5);
    height: 300px;
    padding: 10px 10px;
  }
  &__slide__description__title {
    font-size: 19px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
  }
  &__slide__stack__title {
    font-size: 19px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
  }
  &__slide__text {
    font-size: 15px;
    line-height: 25px;
    color: #ababab;
    font-weight: 400;
    margin: 0;
  }
  &__slide__stack__items {
    list-style: none;
    padding: 0;
  }
  &__slide__stack__item {
    padding-bottom: 13px;
    position: relative;
  }
  &__slide__stack__link {
    font-size: 17px;
    line-height: 27px;
    color: #ababab;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
    outline: none;
    transition: all 0.5s;
    &:hover {
      color: #7e6c6c;
    }
  }
  &__slide__stack__item-1 {
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../assets/svg/projects/html.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 50px;
      transition: all 0.5s ease-out;
    }
  }
  &__slide__stack__item-2 {
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../assets/svg/projects/css.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 50px;
      transition: all 0.5s ease-out;
    }
  }
  &__slide__stack__item-3 {
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../assets/svg/projects/js.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 80px;
      transition: all 0.5s ease-out;
    }
  }
  &__slide__stack__item-4 {
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../assets/svg/projects/sass.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 50px;
      transition: all 0.5s ease-out;
    }
  }
  &__slide__stack__item-5 {
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../assets/svg/projects/git.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 30px;
      transition: all 0.5s ease-out;
    }
  }
  &__slide__stack__item-6 {
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url(../assets/svg/projects/vsc.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 145px;
      transition: all 0.5s ease-out;
    }
  }
  &__slide__img {
    width: 40rem;
    height: 40rem;
    margin-right: 15px;
    object-fit: cover;
    transition: all 0.5s;
    &:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    width: 600px;
    min-height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 100;
    left: -18px;
    bottom: 7px;
  }
  &__number__inner {
    display: flex;
    align-items: center;
    margin-left: 75px;
    position: relative;
    justify-content: space-between;
    width: 75px;
    margin-right: 50px;
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 20px;
      background-color: #ffffff;
      border: none;
      left: 37px;
    }
  }
  &__menu__number {
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
  }
  &__square__inner {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }
  &__menu__square {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 30px;
    transition: all 0.5s;
    &:hover {
      background-color: #d2b183;
    }
  }
  &__menu__square__position {
    margin-right: 27px;
  }
}

.project__slide__stack__link:hover::after {
  transform: scale(1.2);
}

#jQuery {
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../assets/svg/projects/jquery.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 60px;
  }
}

#jQuery-1 {
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../assets/svg/projects/jquery.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 60px;
  }
}

#gulp {
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../assets/svg/projects/gulp.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 40px;
    bottom: 14px;
  }
}

#gulp-1 {
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../assets/svg/projects/gulp.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 40px;
    bottom: 14px;
  }
}

.left {
  background-image: url(../assets/svg/project-arrow-left.svg);
  width: 30px;
  height: 8px;
  background-color: transparent;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  &:hover {
    filter: invert(56%) sepia(10%) saturate(1055%) hue-rotate(356deg)
      brightness(94%) contrast(92%);
  }
  &:active {
    transform: scale(0.8);
  }
}

.right {
  background-image: url(../assets/svg/project-arrow-right.svg);
  width: 30px;
  height: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  &:hover {
    filter: invert(56%) sepia(10%) saturate(1055%) hue-rotate(356deg)
      brightness(94%) contrast(92%);
  }
  &:active {
    transform: scale(0.8);
  }
}
.next,
.active {
  display: block;
}

.next {
  position: absolute;
  width: 100%;
  top: 0;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.active-color {
  background-color: #b1782d;
}

.skills {
  &__inner {
    padding-left: 100px;
    padding-bottom: 50px;
  }
  &__title {
    font-size: 40px;
    line-height: 90px;
    color: #ffffff;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__items {
    padding-left: 0;
  }
  &__item {
    height: 2px;
    background-color: #373737;
    margin-bottom: 40px;
    position: relative;
    max-width: 500px;
  }
  &__block__inner {
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }
  &__block {
    max-width: 300px;
    width: 100%;
    padding: 20px 20px;
    margin-right: 50px;
    transition: all 0.5s ease-out;
    transition-duration: 0.3s;
    opacity: 0;
  }
  &__block-1 {
    transform: translateX(-500%);
  }
  &__block-2 {
    transform: translateX(500%);
  }
  &__block-3 {
    transform: translateX(500%);
  }
  &__block__title {
    font-size: 19px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
  }
  &__block__title__text {
    font-size: 15px;
    line-height: 25px;
    color: #ababab;
    font-weight: 400;
    margin: 0;
  }
  &__block__date {
    font-size: 15px;
    line-height: 25px;
    color: #ababab;
    font-weight: 400;
    margin: 0;
    padding-bottom: 20px;
  }
  &__block__text {
    font-size: 15px;
    line-height: 25px;
    color: #ababab;
    font-weight: 400;
    margin: 0;
  }
  &__left__and__right {
    display: flex;
    justify-content: space-between;
  }
  &__right {
    padding-right: 100px;
  }
  &__right__title {
    font-size: 40px;
    line-height: 90px;
    color: #ffffff;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__right__text {
    font-size: 25px;
    line-height: 35px;
    color: #ababab;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
  }
}

.skills__block-1.active {
  transform: translateX(0%);
  opacity: 1;
}
.skills__block-2.active {
  transform: translateX(0%);
  opacity: 1;
}
.skills__block-3.active {
  transform: translateX(0%);
  opacity: 1;
}

.position {
  margin-left: 30px;
}

.position-1 {
  margin-left: -15px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: yellow;
    left: 35px;
    bottom: 45px;
  }
}

.html {
  width: 0%;
  opacity: 0;
  background-color: #08fdd8;
  height: 2px;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-out;
  transition-delay: 0.1s;
  &::after {
    content: "HTML";
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
    position: absolute;
    top: -35px;
    left: 0;
  }
}

.html.active {
  opacity: 1;
  width: 90%;
}

.css {
  width: 0%;
  opacity: 0;
  background-color: rgb(255, 34, 83);
  height: 2px;
  position: absolute;
  transition: all 0.5s ease-out;
  transition-delay: 0.3s;
  &::after {
    content: "CSS";
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
    position: absolute;
    top: -35px;
    left: 0;
  }
}

.css.active {
  opacity: 1;
  width: 80%;
}

.js {
  width: 0;
  opacity: 0;
  background-color: rgb(210, 108, 213);
  height: 2px;
  position: absolute;
  transition: all 0.5s ease-out;
  transition-delay: 0.1s;
  &::after {
    content: "Javascript";
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
    position: absolute;
    top: -35px;
    left: 0;
  }
}

.js.active {
  opacity: 1;
  width: 45%;
}

.git {
  width: 0;
  opacity: 0;
  background-color: #08fdd8;
  height: 2px;
  position: absolute;
  transition: all 0.5s ease-out;
  transition-delay: 0.2s;
  &::after {
    content: "Git";
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
    position: absolute;
    top: -35px;
    left: 0;
  }
}

.git.active {
  opacity: 1;
  width: 50%;
}

.code {
  &__inner {
    padding-left: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 40px;
    line-height: 90px;
    color: #ffffff;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  &__js {
    max-width: 570px;
    width: 100%;
  }
}
.hljs {
  display: block;
  overflow-x: hidden;
  padding: 15px 15px;
  background: #26262d;
  font-weight: 400;
  font-size: 16px;
}

.footer {
  &__content {
    padding-left: 50px;
  }
  &__content__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__year {
    font-size: 25px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
  }
  &__logo {
    font-size: 17px;
    line-height: 25px;
    color: white;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
      color: rgb(177, 177, 137);
    }
  }
  &__logo__img {
    width: 70px;
    height: 70px;
    margin-top: 5px;
    transition: all 0.5s;
    background-color: transparent;
    background: transparent;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__logo__img-1 {
    margin-right: 50px;
    width: 70px;
    height: 70px;
    margin-top: 5px;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1150px) {
  .header__social {
    margin-right: 0;
  }
  .header__social__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(0deg, #BC1964 0%, #311996 100%);
    min-height: 15rem;
    border-radius: 1rem;
  }
  .header__social__img {
    width: 7rem;
    height: 7rem;
  }
  .header__info {
    padding: 0;
  }
  .header__info__title {
    font-size: 50px;
    line-height: 70px;
  }
  .header__info__title-2 {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .header__info__text {
    font-size: 17px;
    line-height: 35px;
  }
  .about__inner {
    display: block;
    padding-left: 50px;
  }
  .about__inner__left {
    max-width: 400px;
    margin: 0 auto;
  }
  .about__inner__right {
    max-width: 600px;
    height: 280px;
    width: 100%;
    margin: 0 auto;
  }
  .about__inner__right:hover::before {
    height: 278px;
    height: 100%;
  }
  .about__items {
    padding: 0;
  }
  .about__item {
    padding: 0;
  }
  .project__menu {
    width: 470px;
    position: static;
    margin: 0 auto;
    margin-top: 20px;
  }
  .project__number__inner {
    margin-left: 30px;
  }
  .project__inner {
    padding-left: 50px;
  }
  .project__slide__img {
    max-width: 1000px;
    width: 100%;
    height: 350px;
    margin-bottom: 2rem;
  }
  .project__title {
    padding-top: 30px;
  }
  .project__slide__inner {
    flex-direction: column-reverse;
  }
  .project__slide__inner__position {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project__slide__stack__block {
    max-width: 400px;
  }
  .project__slide__description__block {
    max-width: 400px;
  }
  .skills__block {
    margin-right: 15px;
    padding: 10px 10px;
  }
  .skills__inner {
    padding-left: 50px;
  }
  .code__inner {
    padding-left: 50px;
    display: block;
  }
  .code__js {
    margin: 0 auto;
  }
  .code__title {
    text-align: center;
  }
  .code__task__text {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
}

@media (max-width: 850px) {
  .header__info__title {
    font-size: 35px;
    line-height: 40px;
  }
  .header__info__title-2 {
    font-size: 21px;
    line-height: 25px;
    padding-bottom: 20px;
  }
  .header__info__text {
    font-size: 16px;
    line-height: 27px;
  }
  .header__menu__link {
    font-size: 20px;
  }
  .header__menu__item {
    margin-right: 60px;
  }
  .skills__left__and__right {
    display: block;
  }
  .skills__right__title {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .skills__block__inner {
    flex-direction: column;
    align-items: flex-end;
    margin-top: -250px;
    position: relative;
  }
  .skills__block {
    margin-bottom: 15px;
  }
  .about__inner__right {
    max-width: 500px;
  }
}

@media (max-width: 690px) {
  .project__slide__img {
    max-width: 550px;
    width: 100%;
  }
  .project__number__inner {
    display: none;
  }
  .project__control {
    display: none;
  }
  .project__menu {
    margin: 0 auto;
    border: none;
    background-image: none;
  }
  .project__square__inner {
    margin: 0 auto;
  }
  .code__js {
    font-size: 11px;
  }
}

@media (max-width: 650px) {
  .header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__info__img {
    width: 20rem;
    height: 25rem;
  }
  .header__info__title {
    font-size: 33px;
    padding-top: 30px;
  }
  .header__social__img {
    width: 4rem;
    height: 4rem;
  }
  .header__info {
    padding-left: 20px;
  }
  .header__menu__item {
    margin-right: 40px;
  }
  .project__inner {
    padding-left: 20px;
    padding-bottom: 0;
  }
  .project__title {
    padding-left: 10px;
  }
  .project__menu {
    max-width: 360px;
    width: 100%;
    min-height: 7rem;
  }
  .project__slide__text {
    font-size: 15px;
    line-height: 27px;
  }
  .project__slide__inner__position {
    display: block;
    margin: 0 auto;
    margin-right: 50px;
    min-height: 610px;
  }
  .project__slide__description__block {
    min-height: 200px;
    height: 100%;
  }
  .project__slide__stack__block {
    min-height: 200px;
    height: 100%;
  }
  .skills__block__inner {
    margin-top: 0;
    align-items: center;
  }
  .skills__right {
    padding-right: 10px;
    width: 160px;
    margin: 20px auto;
  }
  .skills__inner {
    padding-left: 30px;
  }
  .skills__item {
    margin-right: 5px;
  }
  .code__inner {
    padding-left: 15px;
  }
  .code__js {
    max-width: 420px;
    width: 100%;
    font-size: 10px;
    margin: 0;
  }
  .footer__logo__img {
    width: 70px;
    height: 70px;
  }
  .footer__logo__img-1 {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .about__inner__right {
    max-width: 400px;
    height: 225px;
  }
  .project__menu__square {
    margin-right: 18px;
    width: 12px;
    height: 12px;
  }
  .footer__content {
    padding-left: 10px;
  }
  .header__info__left {
    margin-right: 10px;
  }
}

@media (max-width: 525px) {
  .main {
    padding-top: 5rem;
  }
  .header__info__text {
    font-size: 14px;
    line-height: 22px;
    max-width: 350px;
    height: 100%;
    margin-bottom: 10px;
  }
  .header__inner {
    display: none;
  }
  .leftside__item__media {
    display: block;
  }
  .about__item {
    font-size: 15px;
    line-height: 35px;
    max-width: 130px;
  }
  .about__inner__left {
    margin: 0;
  }
  .about__inner {
    padding-left: 20px;
  }
  .about__title {
    padding-top: 0;
  }
  .project__slide__text {
    font-size: 16px;
    line-height: 30px;
  }
  .project__slide__img {
    height: 250px;
    padding-right: 20px;
  }
  .about__inner__right {
    max-width: 400px;
  }
  .code__inner__js {
    padding-right: 15px;
  }
  .code__task__text {
    margin: 0 15px 0 0px;
  }
  .project__slide__inner__position {
    margin-right: 25px;
  }
  .menu {
    position: fixed;
    display: block;
  }
  .header__info__title {
    text-align: center;
  }
  .header__info__title-2 {
    text-align: center;
  }
}

@media (max-width: 490px) {
  .about__inner__right {
    max-width: 320px;
    height: 181px;
    &::after {
      max-width: 100px;
    }
    &::before {
      height: 100px;
    }
  }
  .about__inner__right:hover::after {
    transition-duration: 3s;
  }
  .about__inner__right:hover::before {
    max-width: 320px;
    height: 181px;
  }
}

@media (max-width: 470px) {
  .skills__block__inner {
    margin-right: 15px;
  }
}

@media (max-width: 450px) {
  .skills__title {
    font-size: 30px;
    line-height: 45px;
  }
  .about__inner__right {
    max-width: 300px;
    height: 165px;
  }
  .about__inner__right:hover::before {
    height: 100%;
  }
  .header__info__left {
    margin-right: 5px;
  }
  .code__js {
    font-size: 10px;
  }
}

@media (max-width: 420px) {
  .header__info__right {
    margin-left: 30px;
  }
  .about__items {
    margin-top: 0;
  }
  .about__item {
    font-size: 14px;
    line-height: 31px;
  }
  .left {
    margin-right: 5px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .right {
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .skills__block {
    margin: 5px;
  }
  .code__task__text {
    font-size: 13px;
    text-align: left;
  }
  .code__title {
    font-size: 37px;
    line-height: 60px;
  }
}

@media (max-width: 380px) {
  .about__inner__right {
    max-width: 250px;
    height: 138px;
    margin: 0 auto;
    &::after {
      height: 1px;
      top: -5px;
    }
    &::before {
      width: 1px;
      right: -5px;
    }
  }
  .about__inner__right:hover::before {
    transition-duration: 1s;
  }
  .footer__content {
    padding-left: 10px;
  }
  .footer__logo__img-1 {
    width: 50px;
    height: 50px;
  }
  .code__inner__js {
    padding-right: 5px;
  }
  .code__task__text {
    margin: 0;
  }
  .footer__logo__img {
    width: 50px;
    height: 50px;
  }
}
